<mtapp:setting
   id="ConfigUseMTAssets"
   label="Image insertion"
   hint="Use MT Asset manager or YUI image selector."
   show_hint="1">
<select name="ConfigUseMTAssets">
  <option value="false" <TMPL_IF NAME=CONFIGUSEMTASSETS_FALSE>selected="selected"</TMPL_IF>>YUI Image selector</option>
  <option value="true" <TMPL_IF NAME=CONFIGUSEMTASSETS_TRUE>selected="selected"</TMPL_IF>>MT Asset Manager</option>
</select>
</mtapp:setting>
<mtapp:setting
   id="ConfigStripFormTags"
   label="Strip form tags"
   hint="Strip out the form tags that MT Asset manager inserts when you put in a new image."
   show_hint="1">
<select name="ConfigStripFormTags">
  <option value="false" <TMPL_IF NAME=ConfigStripFormTags_FALSE>selected="selected"</TMPL_IF>>Don't touch form tags</option>
  <option value="true" <TMPL_IF NAME=ConfigStripFormTags_TRUE>selected="selected"</TMPL_IF>>Remove form tags and leave contents</option>
</select>
</mtapp:setting>
<mtapp:setting
   id="ConfigAutoHeight"
   label="Stretch Editor"
   hint="Stretch editor to fit the content."
   show_hint="1">
<select name="ConfigAutoHeight">
  <option value="false" <TMPL_IF NAME=ConfigAutoHeight_FALSE>selected="selected"</TMPL_IF>>Fixed size editor</option>
  <option value="true" <TMPL_IF NAME=ConfigAutoHeight_TRUE>selected="selected"</TMPL_IF>>Stretch editor to content</option>
</select>
</mtapp:setting>
<mtapp:setting
   id="ConfigMarkupType"
   label="Markup Type"
   hint="What markup should YUI use for it's HTML"
   show_hint="1">
<select name="ConfigMarkupType">
  <option value="semantic" <TMPL_IF NAME=ConfigMarkupType_semantic>selected="selected"</TMPL_IF>>Semantic</option>
  <option value="css" <TMPL_IF NAME=ConfigMarkupType_css>selected="selected"</TMPL_IF>>CSS</option>
  <option value="default" <TMPL_IF NAME=ConfigMarkupType_default>selected="selected"</TMPL_IF>>Default</option>
  <option value="xhtml" <TMPL_IF NAME=ConfigMarkupType_xhtml>selected="selected"</TMPL_IF>>XHTML</option>
</select>
</mtapp:setting>
<mtapp:setting
   id="ConfigYahooAppID"
   label="Yahoo! appid"
   hint="For auto-tagging to work, you need an appid from Yahoo!."
   show_hint="1">
<input type="text" name="ConfigYahooAppID" id="ConfigYahooAppID" value="<mt:var name="ConfigYahooAppID">" />
</mtapp:setting>