<mtapp:setting
   id="ConfigYUIBase"
   label="YUI Base location"
   hint="If you are hosting the YUI build folder locally, change this setting to the location of the build folder."
   show_hint="1">
   <input type="text" name="ConfigYUIBase" id="ConfigYUIBase" value="<mt:var name="ConfigYUIBase" escape="html">" size="40" />
</mtapp:setting>